[user]
	name = Matthew Rothenberg
	email = mrothenberg@gmail.com

[github]
	user = mroth

[color]
	ui = true

[diff]
	tool = opendiff

[merge]
	tool = opendiff

[push]
	default = simple

[core]
	quotepath = false

[credential]
	helper = osxkeychain

[alias]
	amend = commit --amend -C HEAD

# GitHub for Mac insists on adding these whenever it launches, so let's check it
# in a way that we at least knows where it comes from.
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
