[user]
	name = Matthew Rothenberg
	email = mrothenberg@gmail.com

[github]
	user = mroth

[color]
	ui = true

[diff]
	tool = opendiff

[merge]
	tool = opendiff

[rebase]
	autosquash = true
	autostash = true

[push]
	default = simple

[core]
	quotepath = false

[credential]
	helper = osxkeychain

[alias]
	amend = commit --amend -C HEAD
	squash = rebase -i --autosquash
	log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[hub]
	protocol = https

# GitHub for Mac insists on adding these whenever it launches, so let's check it
# in a way that we at least knows where it comes from.
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
